@page "/"

<AuthorizeView>
    <NotAuthorized>
        <a style="color: #e74a48; text-decoration: underline;" href="/login"><h3>You need to login to access the webpanel.</h3></a>
        <hr />
    </NotAuthorized>
</AuthorizeView>

<h3>Welcome to the Lori's Angel webpanel. You can customise your experience, profiles and server settings here!</h3>

<hr />

<h4>Stats?</h4>
<p>
    Server Count: how many guilds the bot is in<br />
    Profiles Count: just a count of all rows in the users database<br />
    Total Money: add up everyones money? maybe this would be too demanding actually
</p>

<hr />

@using LorisAngel.Webpanel.Data
@using LorisAngel.Common.Objects
@inject LeaderboardService LeaderboardService


<h4>Game Leaderboards</h4>
<div class="leaderboards">
    @if (connect4Board == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <ScrollableWindow Height="15rem" Width="40rem" Float="left">
            <h2>Connect-4 Top 10</h2>
            <table class="leaderboard">
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th style="width: 50%">Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in connect4Board.GetTop())
                    {
                        <tr>
                            <td>#@row.Id</td> <!-- Will not display the ID, will display position -->
                            <td>@row.Name</td>
                            <td>@row.Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        </ScrollableWindow>
    }
    <br />
    @if (tttBoard == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <ScrollableWindow Height="15rem" Width="40rem" Float="right">
            <h2>Tic-Tac-Toe Top 10</h2>
            <table class="leaderboard">
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th style="width: 50%">Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in tttBoard.GetTop())
                    {
                    <tr>
                        <td>#@row.Id</td> <!-- Will not display the ID, will display position -->
                        <td>@row.Name</td>
                        <td>@row.Score</td>
                    </tr>
                    }
                </tbody>
            </table>
        </ScrollableWindow>
    }
</div>

<hr />

<h4>Up and coming features?</h4>
<p>
    Blackjack<br />
    This webpanel<br />
    Profile avatars
</p>

<hr />

<TextBlock Text="This is a test TextBlock" />
<br />
<ScrollableWindow Height="10rem">
    <div>
        <h1>This is a scrollable window...</h1>
        <h2>When its full, it should be able to scroll...</h2>
        <p>So when you use this, you should be able to have content that you can scroll through... Could be pretty useful when working on larger pages or things such as leaderboards. This way we can keep the actual page fixed and tidy...</p>
    </div>
</ScrollableWindow>

@code {
    private LoriLeaderboard connect4Board;
    private LoriLeaderboard tttBoard;

    protected override async Task OnInitializedAsync()
    {
        connect4Board = await LeaderboardService.GetLeaderboardAsync("Connect 4");
        tttBoard = await LeaderboardService.GetLeaderboardAsync("Tic Tac Toe");
    }
}