@page "/"

<h1>Lori's Angel Webpanel</h1>
<p>Probably a login screen? Needs to use Discord OAuth and get the users id, username to call them by and then their owned servers.</p>
    <br />
<p>When you do the oauth you can then pass bearer into endpoint like 1/api/v6/@@me and it'll give you the id.</p>
<p>I'm pretty sure there's a scope for getting the user's servers (I suppose if it doesn't give you the owned servers you can compare server owner_id against the user id.</p>
