@page "/"

<AuthorizeView>
    <NotAuthorized>
        <a style="color: #e74a48; text-decoration: underline;" href="/login"><h2>You need to login to access the webpanel.</h2></a>
        <hr />
    </NotAuthorized>
</AuthorizeView>

<h3>idk what stuff to have here?</h3>

<h4>Stats?</h4>
<p>Server Count: how many guilds the bot is in<br />
Profiles Count: just a count of all rows in the users database<br />
Total Money: add up everyones money? maybe this would be too demanding actually</p>

<h4>Oooh put the leaderboards here?</h4>
<p>Tic-Tac-Toe leaderboard<br />
Connect-4 leaderboard</p>

<h4>Up and coming features?</h4>
<p>Blackjack<br />
This webpanel<br />
Profile avatars</p>

<hr />

<TextBlock Text="This is a test TextBlock" />
<br />
<ScrollableWindow Height="10rem">
    <div>
        <h1>This is a scrollable window...</h1>
        <h2>When its full, it should be able to scroll...</h2>
        <p>So when you use this, you should be able to have content that you can scroll through... Could be pretty useful when working on larger pages or things such as leaderboards. This way we can keep the actual page fixed and tidy...</p>
    </div>
</ScrollableWindow>