@inherits LayoutComponentBase

<div style="background-image:none; background-color: #23272A;" class="page">
    <div style="background-image:none;background-color:#23272A;" class="sidebar">
        <NavMenu />
    </div>

    <div style="background-image:none;background-color:#2C2F33;" class="main">
        <div style="background-image:none;background-color:#2C2F33;" class="top-row px-4">
            <a href="support"><span style="color:#99AAB5;" class="oi oi-question-mark" aria-hidden="true"></span></a>
            <a href="report"><span style="color:#99AAB5;" class="oi oi-bug" aria-hidden="true"></span></a>
            <a href="https://top.gg/bot/729696788097007717/vote" target="_blank"><span style="color:#99AAB5;" class="oi oi-thumb-up" aria-hidden="true"></span></a>
            <a href="https://github.com/byBlurr/LorisAngel" target="_blank"><span style="color:#99AAB5;" class="oi oi-wrench" aria-hidden="true"></span></a>
            <a href="announcements"><span style="color:#e74a48;" class="oi oi-bullhorn" aria-hidden="true"></span></a>
        </div>

        <div style="color:#FFFFFF;" class="content px-4">
            @Body
        </div>
    </div>
</div>
