@inherits LayoutComponentBase

    <div style="background-image:none; background-color:#23272A; max-height: 1.5rem;">
        <img style="max-height: 1rem; padding-left: 0.5rem; display: inline-block; opacity: 0.5;" src="images/discord/discord-wordmark-white.png" alt="Discord Logo" />
        
    </div>

    <div style="background-image:none; background-color: #23272A;" class="page">
        <div style="background-image:none; background-color:#23272A; max-width: 5rem;" class="sidebar">
            <NavMenu />
        </div>

        <div style="background-image:none;background-color:#23272A;" class="main">
            <div style="width: 100%; height: 3rem; color: #FFFFFF; background-color: #2C2F33; border-radius: 0.5rem 0rem 0rem 0rem; border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #23272A; padding: 1rem;" class="content px-4">
                <!-- # Lori's Angel (Like the text channels on Discord?) -->
                <b>Lori's Angel</b>

                <div style="border-style: none; background:none; max-height: inherit;  display: inline-block; float: right;" class="top-row px-4">
                    <Tooltip Text="Report Bug"><a href="report"><span style="color:#99AAB5;" class="oi oi-bug" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Contribute"><a href="https://github.com/byBlurr/LorisAngel" target="_blank"><span style="color:#99AAB5;" class="oi oi-wrench" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Announcements"><a href="announcements"><span style="color:#e74a48;" class="oi oi-bullhorn" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Vote"><a href="https://top.gg/bot/729696788097007717/vote" target="_blank"><span style="color:#99AAB5;" class="oi oi-thumb-up" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Help"><a href="support"><span style="color:#99AAB5;" class="oi oi-question-mark" aria-hidden="true"></span></a></Tooltip>
                </div>
            </div>
            <div style="width: 100%; min-height: 100%; color: #FFFFFF; background-color: #2C2F33;" class="content px-4">
                @Body
            </div>
        </div>
    </div>