@inherits LayoutComponentBase
<div style="position: fixed; width:100%;">
    <div style="background-image:none; background-color:#23272A; max-height: 1.5rem;">
        <img id="discord-logo" src="images/discord/discord-wordmark-white.png" alt="Discord Logo" />
        <AuthorizeView>
            <Authorized>
                <Tooltip Text="Log Out"><a href="/login"><span style="max-height: 1rem; color: #FFFFFF;" class="oi oi-lock-locked" aria-hidden="true" /></a></Tooltip>
            </Authorized>
            <NotAuthorized>
                <Tooltip Text="Log In"><a href="/login"><span style="max-height: 1rem; color:#e74a48;" class="oi oi-lock-unlocked" aria-hidden="true" /></a></Tooltip>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="page-header">
                <!-- # Lori's Angel (Like the text channels on Discord?) -->
                <b>Lori's Angel</b>

                <div class="top-row px-4">
                    <Tooltip Text="Report Bug"><a href="report"><span style="color:#99AAB5;" class="oi oi-bug" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Contribute"><a href="https://github.com/byBlurr/LorisAngel" target="_blank"><span style="color:#99AAB5;" class="oi oi-wrench" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Announcements"><a href="announcements"><span style="color:#00b485;" class="oi oi-pin" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Vote"><a href="https://top.gg/bot/729696788097007717/vote" target="_blank"><span style="color:#99AAB5;" class="oi oi-thumb-up" aria-hidden="true"></span></a></Tooltip>
                    <Tooltip Text="Help"><a href="support"><span style="color:#99AAB5;" class="oi oi-question-mark" aria-hidden="true"></span></a></Tooltip>
                </div>
            </div>
            <div style="width: 100%; min-height: 100%; color: #FFFFFF; background-color: #2C2F33;" class="content px-4">
                @Body
            </div>
        </div>
    </div>
</div>