.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #23272A;
}

.main {
    flex: 1;
    background-image: none;
    background-color: #23272A;
}

.page-header {
    width: 100%;
    height: 3rem;
    color: #FFFFFF;
    background-color: #2C2F33;
    border-radius: 0.5rem 0rem 0rem 0rem;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #23272A;
    padding: 1rem;
}

.sidebar {
    background-image: none;
    background-color: #23272A;
    max-width: 5rem;
}

.top-row {
    background: none;
    border-style: none;
    display: inline-block;
    align-items: center;
    float: right;
    max-height: inherit;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

#discord-logo {
    display: inline-block;
    max-height: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    opacity: 0.5;
}

.dropdown-menu-button {
    display: none;
    max-height: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgba(255,255,255,0.5);
}

    .dropdown-menu-button:active {
        color: rgba(255,255,255,1.0);
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .dropdown-menu-button {
        display: inline-block;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
