<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul style="margin: 1rem; margin-top: 0rem;" class="nav flex-column">
        <li style="max-width: 100%;" class="nav-item">
            <NavLink style="padding: 1rem; border-radius:50%;" class="nav-link" href="" Match="NavLinkMatch.All">
                <Tooltip Text="Home"><span style="color:#FFFFFF;" class="oi oi-home" aria-hidden="true"></span></Tooltip>
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li style="max-width: 100%;" class="nav-item">
                    <NavLink style="padding: 1rem; border-radius:50%;" class="nav-link" href="profile">
                        <Tooltip Text="Profile"><span style="color:#FFFFFF;" class="oi oi-person" aria-hidden="true"></span></Tooltip>
                    </NavLink>
                </li>
                <li style="max-width: 100%;" class="nav-item">
                    <NavLink style="padding: 1rem; border-radius:50%;" class="nav-link" href="servers">
                        <Tooltip Text="Servers"><span style="color:#FFFFFF;" class="oi oi-cloud" aria-hidden="true"></span></Tooltip>
                    </NavLink>
                </li>
                <li style="max-width: 100%;" class="nav-item">
                    <NavLink style="padding: 1rem; border-radius:50%;" class="nav-link" href="shop">
                        <Tooltip Text="Shop"><span style="color:#FFFFFF;" class="oi oi-cart" aria-hidden="true"></span></Tooltip>
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li style="max-width: 100%;" class="nav-item">
            <NavLink style="padding: 1rem; border-radius:50%;" class="nav-link" href="about">
                <Tooltip Text="About"><span style="color:#FFFFFF;" class="oi oi-info" aria-hidden="true"></span></Tooltip>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
