<!-- <div style="background-color: #23272F; max-height: 1.5rem; padding: 0px; text-align: center; vertical-align: central;" class="top-row pl-4 navbar navbar-dark">
    <img style="max-height:75%; padding:0rem; margin: 0rem;" src="images/discord/discord-wordmark-white.png" alt="Discord Logo" />
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div> -->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul style="margin: 1rem; margin-top: 0rem;" class="nav flex-column">
        <li style="max-width: 100%;" class="nav-item">
            <NavLink style="padding: 1rem;" class="nav-link" href="" Match="NavLinkMatch.All">
                <Tooltip Text="Home"><span style="color:#FFFFFF;" class="oi oi-home" aria-hidden="true"></span></Tooltip>
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li style="max-width: 100%;" class="nav-item">
                    <NavLink style="padding: 1rem;" class="nav-link" href="profile">
                        <Tooltip Text="Profile"><span style="color:#FFFFFF;" class="oi oi-person" aria-hidden="true"></span></Tooltip>
                    </NavLink>
                </li>
                <li style="max-width: 100%;" class="nav-item">
                    <NavLink style="padding: 1rem;" class="nav-link" href="servers">
                        <Tooltip Text="Servers"><span style="color:#FFFFFF;" class="oi oi-cloud" aria-hidden="true"></span></Tooltip>
                    </NavLink>
                </li>
                <li style="max-width: 100%;" class="nav-item">
                    <NavLink style="padding: 1rem;" class="nav-link" href="shop">
                        <Tooltip Text="Shop"><span style="color:#FFFFFF;" class="oi oi-cart" aria-hidden="true"></span></Tooltip>
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
