<div style="height: @Height; width: @Width" class="scrollable">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Height { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}